/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html{
    font-family: "Helvetica Neue",Helvetica,;

}
.container {
    margin: 0 482px;
}

.header {

}

.globalnav{
    height: 30px;
    background-color:#003478;
    top: 0;
    justify-content: space-between;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.ul_link_white {
    text-decoration: none;
    color: #ffffff;
    font-size: 12.5px;
    margin-left: 390px;
    font-weight: 500;
}

.header_top {
    justify-content:space-between ;
    display: flex;
    color: #ffffff;
}

.navtop{

}

.lable{

}

.ul_link_white:hover {
    color: #ff7800;
}

.list_top{
    list-style: none;
    justify-content: space-between;
    display: flex;

}

.list_top li {
    padding: 0 5px;
}

.loginGroup a {
    text-decoration: none;
    color: #ffffff;
}

.header_seach{
    height:24px;
    margin-top:3px;
    margin-left: 10px;
}

.searchbutton {
    height:24px;
    margin-top:3px;
}

.container_search {

}

.navtop {
    border-bottom: 1px solid #1A4884;
}



.wrapper {

}

.footer {

}

.header_menu_list{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-left: -40px;

}

.header_menu_lis li{
    position: relative;
}

.header_menu_list .menu_list_child{
    position:absolute;
}

.header_menu_list> li{
    padding: 0 6px;
    border-left: 1px dotted #303f61;
}

#menu_list_contac{
    border-right: none;
}

.header_menu_list>li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    line-height: 25px;
    font-size: 14px;
}



.header_menu_list>li>a:hover {
    color: #ffffff;
    background-color: #1A4884;
}

.header_menu_list li:hover .menu_list_child{
    display: block;
}

.menu_list_child{
    list-style: none;
    z-index: 1;
}

.menu_list_child{
    margin-top:0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu_list_child > li{
    background:#003478;
    color: #ffffff;
    margin-left: -30px;
    width-min: 180px;
    height: 30px;
    

}

.menu_list_child a{
    padding: 10px;
}

.header_menu_list .menu_list_child{
    display: none;
}

.menu_list_child > li:hover{
    background-color: #ccc;
    color: #337ab7;
}

.menu_list_child a{
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;

}

/* wrapper */
.wrapper_content{
    margin: 10px;
}

.wrapper_content:hover{
    color: #003478;
}

.wrapper a{
    text-decoration: none;
}

/* foodter */
.foodter{
    background-color: #003478;
    margin-top: 60px;
}

.foodter a:hover{
    color: #FF7800;
}

.foodter_list li a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

.foodter_top{
    display:flex;
}

.foodter_menu{
    margin-left: 50px;
    margin-top: 20px;
}

.foodter_buttom{
    display:flex;
    margin-left: 50px;
    padding-bottom: 20px;
}

.foodter_buttom p{
    color: #ffffff;
    margin-left: 40px;
}

.foodter_buttom a {
    text-decoration: none;
    color: #ffffff;
}




/* Css trang loggo */
.wrapper_crumb {
    height:24px;
    background-color: #003478;
    max-width: 1020px;
}

.wrapper_crumb span {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
}

.wrapper_crumb_span{
    margin-left: 40px;
}

.Wrapper_logo_back{
    margin-top:50px;
    justify-content: space-between;
    display: flex;
}

.logo_title{
    margin-top: 30px;
}

.logo_list{
    font-size: 20px;
    margin-top: 20px;
}

.logo_list li {
    padding-top:10px;
    border-bottom: 1px solid #ccc;
}

.logo_list li:hover {
    background-color: #ececec;
    color:#1930B0;
}

.wrapper_logo_links{
    margin-top:70px;
}

.logo_link_ftl{
    list-style: none;
    display: flex;
    margin-: 0;
}

.logo_link_ftl li{
    margin-left: 10px;
    background-color: #003478;
    padding:10px;
}

.logo_link_ftl a {
    color: #ffffff;
}

/* css introduce */
.description{
    font-size:20px;
    margin-top: 30px;
}

.description p {
    margin-top: 10px;
}

#introduce_h1 {
    font-size:2rem;
}


/* projecct css */
.description td{
    border: 2px solid #333; 
}

/* seminar css */

.related-list{
    list-style: none;
}